/* ---------- box-sizing ----------- */
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}


/* ---------- Global Styles ----------- */

body{
    font-family: 'Noto Sans', sans-serif;
}

header.primary{
    background-color:#1811A8;
    text-align: center;
    text-shadow:1px 1px #000000;
    color: #ffffff;
}