/*Color Theme
#708090-slate grey


/* ---------- box-sizing ----------- */
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/* ---------- Responsive Images ----------- */

img{
    max-width: 100%;
}

.img-right{
    float:right;
    margin:10px 0 10px 20px
    border 2px solid #000000;
    padding: 5px 5px 20px 5px ;
    border-radius: 4px;
    background-color: #556B2F;
}

.img-left{
    float:left;
    margin:10px 20px 10px 0px;
    border: 5px solid #000000;
    padding: 5px 5px 20px 5px ;
    border-radius: 5px;
    background-color: #556B2F;
}

img-center{
    display:block;
    margin: 20px auto;
    border: 5px solid;
    padding: 5px;
    border-radius:4px;
}

img{
    max-width:100%
}

header.primary nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 900px;
    margin: 20px auto;
  }
  
  header.primary nav li {
    list-style-type: none;
    padding: 0;
    width: 20%;
  }
  
  header.primary nav a:link,
  header.primary nav a:visited {
    color: white;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(142, 166, 184, 0.4);
    padding: 8px 16px;
    border-radius: 10px;
    transition: 0.6s;
    display: block;
  }
  
  header.primary nav a:hover,
  header.primary nav a:active {
    background-color: rgba(0, 108, 33, 0.8);
  }
  

/* ---------- Utility Classes ----------- */
.container{
    max-width: 960px;
    width:80vw;
    margin: 40px auto
}

/* ---------- Global Styles ----------- */

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    line-height: 1.2rem;
}

header.primary {
    background-color: #181c1f;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    /* Shorhand T,R,B,L*/
    padding: 6em 2em;
    position: relative;
}

header.primary::before {

    content:"";

background-image: url("segway_color_logo.gif");
background-size: cover;
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
opacity: 0.5;
}

header.primary h1{
    font-size:2.6rem;
    margin:10px 0 20px;
}

header.primary h1 a {
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size: 1.6rem;
    /* top | left/right | bottom */
    margin: 0 auto 40px;
}

header.primary nav{
    width: 80vw;
    max-width: 900px;
    margin:20px auto;
}

header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

header.primary nav ul li{
    list-style-type:none;
}

header.primary ul li a{
    color:#ffffff;
    text-decoration:none;
    background-color:#000000;
    background-color:rgba(0,0,0,.4);
    padding:8px 16px;
    border-radius:20px;
    transition:.5s;
    border:1px solid rgba(0,0,0,.6);
}

header.primary ul li a:hover, header.primary ul li a:active{
    background-color:rgba(0,0,0,.8);
}

section#intro h2{
    color:#708090;
    border-bottom:1px dotted #B6B3F5;
}

#content{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    border-bottom: 1px dotted #708090;
    padding-bottom:2.4rem;
    border-top: 1px dotted #708090;
    padding-top:2.4rem;
}
/* ---------- Media Queries ----------- */
@media screen and (max-width:800px){
    header.primary nav ul{
        flex-direction:column;}
    header.primary nav a{
        display:block;
    }
    header.primary nav li{
        margin-bottom: 10px;
    }
}

#content article.post{
width:30%;
box-shadow:0 4px 8px rgbs(0,0,0,.3);
padding:10px;
border-radius: 4px;
font-size:.8rem;
}

#content article.post:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.3)
}

time.post-date, figcaption, footer.post-meta{
    text-transform: uppercase;
    color:#708090;
    font-size: .6rem;
}

.post figure{
    margin:0;
}

.post figure img{
    border:1px solid #708090;
    padding:4px;
    border-radius: 4px;
}

.post a{
    color:#708090;
}

.post a:hover, .post a:active{
    text-decoration: none;
}

#demo h2{
    border-left: 7.5px solid  #708090;
    padding: 10px;
}

#demo a{
    color:#708090;
}
/* Attreibute Selector*/
aside[role="complementary"]{
background-color: #708090;
color: #ffffff;
padding: 1.4rem;
}

table{
border:2px solid#708090;
border-collapse: collapse;
width:100%;
}
tr:nth :nth-child(even){ 
    background-color:  #080808;
}
th{
    background-color: #9392AD;
    color: #ffffff;
    padding: 10px;
}
td{
    border:1px solid #708090;
    padding:5px;
    width:33%;
    text-align: right;
}

td:first-of-type{
    text-align: left;
}

#demo ol{
    list-style-type:upper-alpha;
}

#demo ul{
    list-style-type:square;
}

#demo ul ul{
    list-style-type: circling;
    color:red
}

#demo dt{
font-weight:bold;
}
#demo dd{
margin:0;
}

/* adjacent sibling combinator*/
dd + dt{
    margin-top: 20xp;
}

#demo blockquote{
    background-color: #708090;
    padding: 40px
}
aside .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

aside article.widget {
    width:45%;
}

aside article.widget a:last-of-type{
    color:#ffffff;
    display:block;
    margin-top: 20px;
    text-align:right;
}

aside article.widget{
    color:#ffffff;
}

aside article footer{
    display:none;
}

#colophon{
    background-color: #708090;
}

#colphon h6{
    padding:20px;
    margin:0;
    color:#ffffff;
    text-align: center;
    font-size: .9rem;
    text-transform: uppercase;
}